#!/bin/bash
#
# CI test environment server details
#

CI_SERVER_HOSTNAME[0]=<hostname>
CI_SERVER_IP[0]=<host IP>
CI_SERVER_INST_TYPE[0]=<inst type>
CI_SERVER_CONFIG[0]=<config type>
CI_SERVER_ROOTPW[0]=<password>


