BEHIND_GATEWAY="yes"
ESXI_VERSION=""

#DHCP_SERVER='atjumpx1'
#DHCP_SERVER_IP='159.107.177.94'
#DHCP_SERVER_ROOT_PASS='1reland'

# SFS Variables
SFS_HOSTNAME="sfs"

# Admin 1 Variables
ADM1_HOSTNAME='ossmaster'
ADM1_IP_ADDR='192.168.0.5'
ADM1_NETMASK='255.255.0.0'
ADM1_MAC_ADDR='00:50:56:00:00:05'
ADM1_ARCH='i86pc'
ADM1_IPV6_PARAMETER='YES'
ADM1_CLIENT_HOSTNAME_V6='ossmaster_v6'
ADM1_IPV6_ADDR='2001:1b70:82a1:0103::5'
ADM1_CLIENT_IP_ADDR_V6="$ADM1_IPV6_ADDR/64"
ADM1_ROUTER_IP_ADDR_V6='2001:1b70:82a1:0103::1'
ADM1_EXTRA_BOOTARGS="rmirr environ=noiofence"
ADM1_NMSADM_PASS='nms27511'
ADM1_SECURITY='yes'
MC_ONLINE_LIST='all'
USER_LIST=''
GROUP_LIST=''

CLUSTER_NAME='ossmaster'
STOR_BASE_IP1='172.16.30.2'
STOR_BASE_IP2='172.16.30.3'
STOR_BASE_VIP='172.16.30.4'
STOR_NETWORK='172.16.30.0'
STOR_NETMASK='255.255.255.0'
OSS_ID='ossmaster'
NASMASPWW='master'
NASSUPPWW='symantec'
NAS1='172.16.30.14'
NAS2='172.16.30.16'
NASC='172.16.30.18'
PUB_BASE_IP1='192.168.0.10'
PUB_BASE_IP2='192.168.0.11'
PUB_ROUTER='192.168.0.1'
PUB_NETMASK='255.255.0.0'
BACKUP_IP='172.16.29.2'
BACKUP_NETMASK='255.255.255.0'
VIP_OSSFS='192.168.0.12'
VIP_IPV6_OSSFS="2001:1b70:82a1:0103::12"
VIP_PMS='192.168.0.13'
VIP_IPV6_PMS="2001:1b70:82a1:0103::13"
VIP_CMS='192.168.0.14'
VIP_IPV6_CMS="2001:1b70:82a1:0103::14"
VIP_SYBASE='192.168.0.15'
VIP_SNMP='192.168.0.16'
VIP_OSS_BKUP='172.16.29.3'
VIP_OSS_SYB_BKUP='172.16.29.4'
GSMDEF='100'
UTRANDEF='100'
RNCDEF='1'
LTEDEF='100'
COREDEF='2'
AXDnodes='1'
MINUTE_GPEH='YES'
CELL_TRACE='YES'
OSSTGR='YES'
Tesnodes='1'
ADDSGW='YES'
ADDPMS='YES'
ADDEBSW='YES'
ADDRPMO='YES'
ADDEBS='YES'
ADDRTT='YES'
ADDRNDBI='YES'
ADDEBESS='YES'
ADDEBSS='YES'
NumSites='100'
Nummgw='1'
Numepgssr='1'
Numstn='1'
Numipr='1'
Numcscf='1'
Nummtas='1'
Numh2s='1'
Numsgsn='1'
Numsgsnmme='1'
Numggsn='1'
Num2g3gsaus='1'
Num4gsaus='1'
Numirathomcells='1'
Numapg43='1'
Numredback='1'
Numsasnsara='1'
Numpicowcdmacells='1'
Numpicoltecells='1'
Numhss='1'
Numegr='1'
ADD5mROP='NO'
INS_TYPE='ii'
NETGROUPNAME=''
SQL_DEF_USER_PW='sybase11'
TIMEZONE='Eire'
DEFAULTROUTERS=''
NAMESERVERS='192.168.0.1'
DNSDOMAIN='vts.com'
SENTINEL_LICENSE_FILE_PATH=''
SEC_TYPE=''
VXVMLIC=''
NETWORK_TYPE=''
IM_ROOT='ONRM_ROOT_MO'
X29_SUFF=''
NT_SERVER_IPADDRESS=''
WAS_IP_1=''
WAS_IP_2=''
WAS_IP_3=''
WAS_IP_4=''
WAS_IP_5=''

# Decide what mcs to start during initial rollout
# CRITICAL_5 enables only critical 5
# INITIAL enables all except BI SMRS mc
# Leave blank to take default (CRITICAL_5 for private, INITIAL for public)
INITIAL_INSTALL_MCS=""

# Adm 2 Variables
ADM2_HOSTNAME=''
ADM2_IP_ADDR=''
ADM2_NETMASK=''
ADM2_MAC_ADDR=''
ADM2_ARCH='i86pc'
ADM2_IPV6_PARAMETER=''
ADM2_CLIENT_HOSTNAME_V6=''
ADM2_CLIENT_IP_ADDR_V6=''
ADM2_ROUTER_IP_ADDR_V6=''
ADM2_EXTRA_BOOTARGS=''
ADM2_STOR_BASE_IP1=''
ADM2_STOR_BASE_IP2=''
ADM2_STOR_BASE_VIP=''
ADM2_BASE_IP1=''
ADM2_BASE_IP2=''
ADM2_BACKUP_IP=''

# OMSERV Master Variables
OMSERVM_HOSTNAME='omsrvm'
OMSERVM_FQHN='omsrvm.vts.com'
OMSERVM_IP_ADDR='192.168.0.4'
OMSERVM_NETMASK='255.255.0.0'
OMSERVM_MAC_ADDR='00:50:56:00:00:04'
OMSERVM_ARCH='i86pc'
OMSERVM_IPV6_PARAMETER='YES'
OMSERVM_CLIENT_HOSTNAME_V6='omsrvm_v6'
OMSERVM_CLIENT_IP_ADDR_V6='2001:1b70:82a1:0103::4/64'
OMSERVM_ROUTER_IP_ADDR_V6='2001:1b70:82a1:0103::1'
OMSERVM_DEPL_TYPE='Enhanced'
OMSERVM_STOR_BASE_VIP='172.16.30.24'
OMSERVM_STOR_BASE_NIC='e1000g1'
OMSERVM_STOR_HOSTNAME='omservmsvip'

# OMSERV Slave Variables
OMSERVS_HOSTNAME='omsrvs'
OMSERVS_FQHN='omsrvs.vts.com'
OMSERVS_IP_ADDR='192.168.0.7'
OMSERVS_NETMASK='255.255.0.0'
OMSERVS_MAC_ADDR='00:50:56:00:00:07'
OMSERVS_ARCH='i86pc'
OMSERVS_IPV6_PARAMETER='YES'
OMSERVS_CLIENT_HOSTNAME_V6='omsrvs_v6'
OMSERVS_CLIENT_IP_ADDR_V6='2001:1b70:82a1:0103::7/64'
OMSERVS_ROUTER_IP_ADDR_V6='2001:1b70:82a1:0103::1'
OMSERVS_STOR_BASE_VIP='172.16.30.25'
OMSERVS_STOR_BASE_NIC='e1000g1'
OMSERVS_STOR_HOSTNAME='omservssvip'

# OMSAS Variables
OMSAS_HOSTNAME='omsas'
OMSAS_FQHN='omsas.vts.com'
OMSAS_IP_ADDR='192.168.0.3'
OMSAS_NETMASK='255.255.0.0'
OMSAS_MAC_ADDR='00:50:56:00:00:03'
OMSAS_ARCH='i86pc'
OMSAS_IPV6_PARAMETER='YES'
OMSAS_CLIENT_HOSTNAME_V6='omsas_v6'
OMSAS_CLIENT_IP_ADDR_V6='2001:1b70:82a1:0103::3/64'
OMSAS_ROUTER_IP_ADDR_V6='2001:1b70:82a1:0103::1'

# NEDSS Variables
NEDSS_HOSTNAME='nedss'
NEDSS_FQHN='nedss.vts.com'
NEDSS_IP_ADDR='192.168.0.8'
NEDSS_NETMASK='255.255.0.0'
NEDSS_MAC_ADDR='00:50:56:00:00:08'
NEDSS_ARCH='i86pc'
NEDSS_IPV6_PARAMETER='YES'
NEDSS_CLIENT_HOSTNAME_V6='nedss_v6'
NEDSS_CLIENT_IP_ADDR_V6='2001:1b70:82a1:0103::8/64'
NEDSS_ROUTER_IP_ADDR_V6='2001:1b70:82a1:0103::1'
NEDSS_STOR_BASE_VIP='172.16.30.26'
NEDSS_STOR_BASE_NIC='e1000g1'
NEDSS_STOR_HOSTNAME='nedsssvip'
NEDSS_SMRS_OSS_ID="oss1"
NEDSS_OSS_SUPPORT_GRAN="yes"
NEDSS_OSS_SUPPORT_CORE="yes"
NEDSS_OSS_SUPPORT_WRAN="yes"
NEDSS_OSS_SUPPORT_LRAN="yes"
NEDSS_SLAVE_ENABLE_GRAN="yes"
NEDSS_SLAVE_ENABLE_CORE="yes"
NEDSS_SLAVE_ENABLE_WRAN="yes"
NEDSS_SLAVE_ENABLE_LRAN="yes"
NEDSS_SLAVE_SERV_ID4="nedssv4"
NEDSS_SLAVE_SERV_ID6="nedssv6"
NEDSS_FTPSERVICES_PASS="shroot123"
NEDSS_FSCOMMON_SIZE_CORE="12"
NEDSS_FSCOMMON_SIZE_GRAN="12"
NEDSS_FSCOMMON_SIZE_WRAN="12"
NEDSS_FSCOMMON_SIZE_LRAN="12"
NEDSS_FS_SIZE_CORE="10"
NEDSS_FS_SIZE_GRAN="6"
NEDSS_FS_SIZE_WRAN="4"
NEDSS_FS_SIZE_LRAN="4"

# UAS1 Variables
UAS1_HOSTNAME='uas1'
UAS1_IP_ADDR='192.168.0.6'
UAS1_NETMASK='255.255.0.0'
UAS1_MAC_ADDR='00:50:56:00:00:06'
UAS1_ARCH='i86pc'
UAS1_IPV6_PARAMETER='YES'
UAS1_CLIENT_HOSTNAME_V6='uas1_v6'
UAS1_CLIENT_IP_ADDR_V6='2001:1b70:82a1:0103::6/64'
UAS1_ROUTER_IP_ADDR_V6='2001:1b70:82a1:0103::1'
UAS1_STOR_BASE_VIP='172.16.30.5'
UAS1_STOR_BASE_NIC='e1000g1'
UAS1_STOR_HOSTNAME='uas1svip'

# PEER1 Variables
PEER1_HOSTNAME='peer1'
PEER1_IP_ADDR='192.168.0.47'
PEER1_NETMASK='255.255.0.0'
PEER1_MAC_ADDR='00:50:56:00:00:47'
PEER1_ARCH='i86pc'
PEER1_IPV6_PARAMETER='YES'
PEER1_CLIENT_HOSTNAME_V6='peer1_v6'
PEER1_CLIENT_IP_ADDR_V6='2001:1b70:82a1:0103::47/64'
PEER1_ROUTER_IP_ADDR_V6='2001:1b70:82a1:0103::1'
PEER1_PUB_BASE_IP1='192.168.0.48'
PEER1_PUB_BASE_IP2='192.168.0.49'
PEER1_BACKUP_IP='172.16.29.9'
PEER1_STOR_BASE_IP1='172.16.30.7'
PEER1_STOR_BASE_IP2='172.16.30.8'
PEER1_STOR_BASE_VIP='172.16.30.9'
PEER1_STOR_HOSTNAME='peer1svip'

# EBAS Variables
EBAS_HOSTNAME='ebas'
EBAS_IP_ADDR='192.168.0.9'
EBAS_NETMASK='255.255.0.0'
EBAS_MAC_ADDR='00:50:56:00:00:09'
EBAS_ARCH='i86pc'
EBAS_IPV6_PARAMETER='YES'
EBAS_CLIENT_HOSTNAME_V6='ebas_v6'
EBAS_CLIENT_IP_ADDR_V6='2001:1b70:82a1:0103::9/64'
EBAS_ROUTER_IP_ADDR_V6='2001:1b70:82a1:0103::1'
EBAS_STOR_BASE_VIP='172.16.30.6'
EBAS_STOR_BASE_NIC='e1000g1'
EBAS_STOR_HOSTNAME='ebassvip'

# General Variables
LDAPDOMAIN='vts.com'
UNIQUE_MASTERSERVICE='ossmaster'
dm_pass='ldappass'
ns_data_migration_pass='ldappass'
ns_data_maintenence_pass='ldappass'
proxyagent_pass='ldappass'
#NTP_SOURCE='159.107.173.12'
NTP_SOURCE="192.168.0.1"

CAASADM_USER="caasadm"
CAASADM_PASS="1caaspass"
NEUSER_PASS="1nepass"
SCSUSER_PASS="1scspass"

NETSIM_HOSTNAME="netsim"
