INITIAL_INSTALL_ADM1=no
        INITIAL_INSTALL_ADM1_PART1=no
        INITIAL_INSTALL_ADM1_PART2=no
INITIAL_INSTALL_ADM2=no
        INITIAL_INSTALL_ADM2_PART1=no
        INITIAL_INSTALL_ADM2_PART2=no
INITIAL_INSTALL_OMSAS=no
        INITIAL_INSTALL_OMSAS_PART1=no
        INITIAL_INSTALL_OMSAS_PART2=no
INITIAL_INSTALL_OMSERVM=yes
        INITIAL_INSTALL_OMSERVM_PART1=yes
        INITIAL_INSTALL_OMSERVM_PART2=yes
INITIAL_INSTALL_OMSERVS=yes
        INITIAL_INSTALL_OMSERVS_PART1=yes
        INITIAL_INSTALL_OMSERVS_PART2=yes
INITIAL_INSTALL_UAS1=yes
        INITIAL_INSTALL_UAS1_PART1=yes
        INITIAL_INSTALL_UAS1_PART2=yes
INITIAL_INSTALL_PEER1=no
        INITIAL_INSTALL_PEER1_PART1=no
        INITIAL_INSTALL_PEER1_PART2=no
INITIAL_INSTALL_NEDSS=yes
        INITIAL_INSTALL_NEDSS_PART1=yes
        INITIAL_INSTALL_NEDSS_PART2=yes
INITIAL_INSTALL_EBAS=no
        INITIAL_INSTALL_EBAS_PART1=no
        INITIAL_INSTALL_EBAS_PART2=no
INITIAL_INSTALL_ENIQE=no
        INITIAL_INSTALL_ENIQE_PART1=no
        INITIAL_INSTALL_ENIQE_PART2=no
INITIAL_INSTALL_ENIQS=no
        INITIAL_INSTALL_ENIQS_PART1=no
        INITIAL_INSTALL_ENIQS_PART2=no

POST_INSTALL_ADM1=yes
POST_INSTALL_ADM2=yes
POST_INSTALL_OMSAS=yes
POST_INSTALL_OMSERVM=yes
POST_INSTALL_OMSERVS=yes
POST_INSTALL_UAS1=yes
POST_INSTALL_PEER1=yes
POST_INSTALL_NEDSS=yes
POST_INSTALL_EBAS=yes
